/* 
    Document   : main.css
    Author     : Vito Chin
*/

body {
  text-align: center;
  min-width: 760px;
}

.console {
  width: 720px;
}

.control {
  width: 720px;
  margin: 0 auto;
  text-align: left;
  border-top: medium double black;
}

#picture {
  max-width: 720px;
  max-height: 800px;
}

#colorpicker,#map,.console {
  text-align: center;
  margin: 0 auto;
}

#signup {
  width: 720px;
  margin: 0 auto;
  text-align: left;
}

